.button.primary{
    background-color:#34cccb;color:#fff
}

.button.primary.inverted{
    background-color:#fff;color:#000
}

.button.secondary{
    background-color:transparent;border:1.5px solid #34cccb
}

.button.small{
    font-size:9.6px;font-size:.6rem;padding:8px 16px;padding:.5rem 1rem
}