.button.primary{
    background-color:#34cccb;
    color:#fff;
}
.button.primary.inverted{
    background-color:#fff;
    color:#000;
}
.button.secondary{
    background-color:transparent;
    border:1.5px solid #34cccb;
}

.nav-item.active a{
    color:#34cccb;
}
.block-header-1 .nav-item.active a:hover{
    color:#34cccb;
}
.block-header-2 .nav-item.active a{
    color:#34cccb;
}
.block-header-2 .nav-item.active a:hover{
    color:#34cccb;
}
.block-hero-1{
    --bg:#34cccb;
    --text:#fff;
    display:-ms-flexbox;display:flex;
    -ms-flex-direction:column;flex-direction:column;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:400px;
    background-color:var(--bg);
    color:var(--text);
    text-align:center;
}

.block-hero-2{
    --bg:#34cccb;
    --text:#fff;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:center;
    justify-content:center;
    min-height:100vh;
    background-color:var(--bg);color:var(--text);
    background-repeat:no-repeat;background-size:auto 100%;
    background-position:100%;
}

.block-cta-bar{
    padding:32px;
    padding:2rem;
    background:#34cccb;
    color:#fff;
}